<launch>
  <include file="$(find delivery_robot)/launch/navsat_transform.launch"/>
  <include file="$(find delivery_robot)/launch/tf_transform.launch"/>
  <include file="$(find delivery_robot)/launch/start_map_server.launch"/>
  <include file="$(find delivery_robot)/launch/move_base.launch"/>
</launch>